Communication categories</br></br>

<div class="container-fluid">
   <div class="row">

    <div class="col-md-6">
          <%= link_to 'The speaker', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
        <div class="col-md-6">
          <%= link_to 'Delivery', {controller: 'second', action: 'delivery'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>


      </div>
      <div class="row">
       <div class="col-md-6">
           <%= link_to 'Content', {controller: 'second', action: 'content'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
        <div class="col-md-6">
          <%= link_to 'Persuasion', {controller: 'second', action: 'persuasion'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>


      </div>


      <div class="row">

        <div class="col-md-6">
          <%= link_to 'Negotiation', {controller: 'second', action: 'persuasion'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-6">
          <%= link_to 'Arguing', {controller: 'second', action: 'arguing'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>

      </div>
</div>