Communication categories</br></br>

<div class="container-fluid">
   <div class="row">

    <div class="col-md-6">
          <%= link_to 'The speaker', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
        <div class="col-md-6">
          <%= link_to 'Delivery', {controller: 'second', action: 'delivery'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>


      </div>
      <div class="row">
       <div class="col-md-6">
           <%= link_to 'Content', {controller: 'second', action: 'content'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
        <div class="col-md-6">
          <%= link_to 'Persuasion', {controller: 'second', action: 'persuasion'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>


      </div>


      <div class="row">

        <div class="col-md-6">
          <%= link_to 'Negotiation', {controller: 'second', action: 'persuasion'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-6">
          <%= link_to 'Arguing', {controller: 'second', action: 'arguing'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>

      </div>
</div>

</br></br>
Book: Resonate</br></br>

Most presentations are delivered to persuade people</br></br>

It takes gutsy intuitive skills to move toward an unkown future that involves unfamiliar risks and rewards, yet businesses must make these moves to survive. Companies that learn to thrive in the chronic flux and tension between what is and what could be are healthier than those that don't. Many times the future cannot be quantified with statistics, facts, or proofs. Sometimes leaders have to let their gut lead them into uncharted territories where statistics haven't yet been generated.</br></br>

The enemy of persuasion is obscurity</br></br>

The more you want your idea adopted, the more it must stand out</br></br>

Don't blend in, instead, clash with your environment. Stand out. Be uniquely different. That's what will draw attention to your ideas.</br></br>

You must show how your ideas contrast with existing expectations, beliefs, feelings, or attitudes if you want to gain the audience's rapt attention</br></br>

It can be scary running around your bland organization with a safety orange target on your back. It's risky, and it takes fortitude to be different among friends and foes. But it's important for your message to stand out, or it won't be remembered.</br></br>

Identify opportunities for contrast and then create fascination and passion around contrasts</br></br>

Your audience may agree with the thought process you present but they still might not respond to the call. People rarely act by reason alone. You need to tap into other deeply seated desires and beliefs in order to be persuasive. You need a small thorn that is sharper than fact to prick their hearts. That thorn is emotion.</br></br>

Aristotle said: "The man who is in command of persuasion must by able to understand emotions -- That is, to name them and describe them, to know their causes and the way in which they are excited. Persuasion may come through the hearers, when the speech stirs their emotions"</br></br>

"The public is composed of numerous groups whose cry to us writers is: comfort me, amuse me, touch my sympathies, make me sad, make me dream, make me laugh, make me shiver, make me weep, make me think" Henri Rene</br></br>

The best way to unite an idea to an emotion is by telling a compelling story</br></br>

Stories are the glue that make information stick</br></br>

Creating desire in the audience and then showing how your ideas fill that desire moves people to adopt your perspective.</br></br>

As author McKee says:" Something must be at stake that convinces the audience that a great deal will be lost if the hero doesn't obtain his goal" If nothing is at risk then it's not interesting</br></br>

You have a goal that needs to be reached, but there will be trials and resistance</br></br>

All stories have a beginning, middle and an end. There's a defining point in which the beginning turns into the middle and the middle into the end. These are called plot points. And they're defined by any incident, episode, or event that spins the story around in another direction.</br></br>

(1) Heroes are introduced in the Ordinary World, where (2) they receive the call to adventure (3) they are initially reluctant and might even refuse the call, but (4) are encouraged by a mentor to (5) cross that first treshold and enter the special world, where (6) they encounter tests, allies and enemies (7) they approach the inmost cave, where (8) they endure the ordeal. (9) they take possessionof their reward and (10) are pursued on the road back to the ordinary world (11) they experience a resurrection and are transformed by the experience (12) they return with the elixir - a boon or treasure to benefit the ordinary world</br></br>

Heroes endure physical activities (outer journey) but also experience internal transformations to their hearts and minds at each stage</br></br>

There is a moment in every story where the character overcomes reluctance to change and leaves the ordinary world, and crosses the treshold into an adventure in a special world. In the special world, the hero gains skills and insights and then brings them back to the ordinary world as the story resolves</br></br>

A good presentation is a satisfying, complete experience. You might cry, laugh, or do both, but you'll also feel you learned something about yourself.</br></br>

Your presentation proposes an idea, and you're asking the audience to adopt and shepherd that idea to positive outcomes</br></br>

The change your requesting will not come without struggle to your heroes - and you need to acknowledge that.</br></br>

Change is hard. Getting people to commit to change is probably an organization's greatest challenge</br></br>

Let's remember that there is one indisputable attribute of a good story: there must be some kind of conflict or imbalance perceived by the audience that your presentation resolves. This sesnse of discord is what persuades them to care enough to jump in. In a presentation you create imbalance by constantly juxtaposting what is and what could be.</br></br>

Clearly contrast who the audience is when they walk into the room (in their ordinary world) with whom they could be when they leave the room (crossing the treshold into a special world). What is vs what could be. Drawing attention to that gap forces the audience to contend with the imbalance until a new balance is achieved</br></br>

The inciting incident first throws the protagonist out of balance, and then arouses in him the desire to restore that balance</br></br>

Create and resolve tension through contrast</br></br>

Oppositional content is stimulating, familiar content is comforting. Together, these two types of content produce forward movement</br></br>

Audiences always fall into these types of categories: doers, suppliers, influencers and innovators. Providing each type with at least one action that's suited to their temperament allows them to choose the action they're most comfortable performing. Doers can assemble, decide, gather, respond, try. Suppliers can acquire, fund, provide resources or support. Influencers can activate, adopt, empower, or promote. Innovators can be asked to create, discover, invent or pioneer</br></br>

Show the audience that the reward will be worth their efforts. Your choice is not only right, but it's the only and best way</br></br>

Catastrophic events do provide the basis for rethorical situations. Despair, anxiety, fear, anger and the loss of meaning and purpose are powerful psycho- spiritual forces that deeply affect us all. It has been said that 'without hope the people perish'. And without hearing powerful and timely words of encouragement, the people may never find causes for hope</br></br>

Focusing on commonalities bolsters credibility, so spend time uncovering similarities. Seek out shared experiences and goals that you can bring to the foreground. A presentation that creates common ground has the potential to unite a diverse group of people toward a common purpose -- people who normally might never have unified</br></br>

Your objective is to find the most relevant and believable way to link your issue to your audience's top values</br></br>

Presentations should have a destination. If you don't map out where you want the audience to be whent they leave your presentation, the audience won't get there</br></br>

Keep in mind that a presentation is designed to transport the audience from one location to another</br></br>

They will feel a sense of loss as they move away from their familiar world and closer to your perspective. You are persuading the audience to let go of old beliefs or habits and adopt new ones. When people deeply understand things from a new perspective to the point where they feel inclined to change, that change begins ion the inside (heart and mind) and ends on the outside (actions and behavior). However, this typically doesn't happen without struggle.</br></br>

Change requires breaking up before building up</br></br>

Stages of change: passively resisting, aggressively trying to undermine it, to sincerly embracing it</br></br>

Audience members will often push back or try to find errors in your presentation because if they don't they have to either live with the contradiction between theur old position and the new one you've "sold" them or opt to change </br></br>

Rewards should appeal to physical, relational, or self- fulfillment needs: basic needs. When basic needs are not met, even if it's another person's basic needs, they will risk life to secure them. Security: people want to feel secure and safe at home, and at work. Savings: time and money are two precious commodities. Prize: this can be anything from financial reward to gaining market share. Recognition: people relish being honored, promotion, admission into something exclusive. </br></br>

Make an intentional attempt to move back and forth from the head to the gut. From logic to intuition.</br></br>

Emotions and beliefs are masters, reason their servant. Ignore emotion and reason slumbers; trigger emotion and reason comes rushing to help.</br></br>

Filtering is very important. If you don't filter your presentation, your audience will react negatively. Striking a balance between withholding and communicating information is what separates the great presenters from the rest</br></br>

Analytical content: diagrams, evidence, examples, case studies, exhibits.</br>
Emotional content: stories, biographies, analogies, metaphors, anecdotes.</br></br>

Presentation Zen by Garr Reynolds</br>
Slide:ology by Nancy Duarte</br></br>

Four types of noise that can interfere: credibility, semantic, experiential and bias noise</br></br>

If businesses are decision factories, then presentations that inform these decisions determine their quality</br></br>








