</br></br>
<div class="container-fluid">
   <div class="row">

     <div class="col-md-2">
      Books & resources I've covered:</br>
      - <a href="https://www.udemy.com/ux-web-design-master-course-strategy-design-development/ ">Udemy UX & Web design tutorial</a></br>

      </br>Next books & resources:</br>
      - <a href="https://www.amazon.com/Universal-Principles-Design-Revised-Updated/dp/1592535879/ref=sr_1_1?ie=UTF8&qid=1516045336&sr=8-1&keywords=universal+principles+of+design">Universal principles of design</a></br>
      - Jesse James Garret (5 layers of UX)</br>
      - IA book for the WWW (The polar bear book)
      - Don't make me think</br>
      - Design of everyday things</br>

        </div>
        <div class="col-md-10">
     <div class="row">
      <div class="col-md-1">
      </div>
    <div class="col-md-2">

          <%= link_to 'Strategy', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-2">

          <%= link_to 'Scope', {controller: 'second', action: 'scope'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-2">

          <%= link_to 'Structure', {controller: 'second', action: 'structure'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-2">

          <%= link_to 'Skeleton', {controller: 'second', action: 'skeleton'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-2">

          <%= link_to 'Surface', {controller: 'second', action: 'surface'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
        <div class="col-md-1">
      </div>

    </div></br></br>
    <div class="row">
       <div class="col-md-1">

      </div>
      <div class="col-md-11">
      General concepts:</br></br>

      UX is about moving from abstract to concrete</br></br>
      For any product to be successful it needs to be useful and usable</br></br>
      - Why are we doing this?</br>
      - Who are we doing it for?</br>
      - What value will it provide?</br>
      - What can we realistically do?</br>

      </br></br>
      Notes from Jesse James Garret Youtube video (45 mins):</br></br>
      - How do humans interact with technology</br>
      - Most customers say: "we're customer centric", "customer focused", blah blah.. Only 8% of users feel this is true</br>
      - Who's responsible for customers? Marketing? support? Product? They all have to work together to create a successful customer experience.</br>
      - We communicate through so many channels (email, social networks, etc) and the web is the center channel.</br>
      - The most important question to ask: "What is the best compliment a user can give to your product?"</br>
      - Aim for "I can't live without it. I can't imagine my life without this"</br>
      - Pyramid: base is technology.... next "features" (most people stop here, according to S. Jobs)- Word Docs can't solve the word processing problem so they add features like crazy and they outsource solving the problem to the end user.... The really great person will keep on going and find the underlying principle of the problem... the next and peak of the pyramid is "experience"</br>
      Ipod vs MP3 example. Ipod did less than the mp3 player. The mp3 player solved a problem with technology and a bunch of features... Ipod offered an experience... Steve Jobs: beautiful and elegant solution.</br></br>
      Three circles.. Inner, data, then logic, and most outer is user interface... This is how it is but users think of it as: user interface and "magic" in the inside.</br>
      - Start with the experience you want to deliver and build from there.</br>
      - Experience Strategy</br>
      Example: Facebook builds from principles: 1. Social, 2 useful, 3, expressive, 4 engaging, 5 secure, 6 respectful, 7 transparent, 8 clean, 9 fast, 10 robust</br></br>
      Steve jobs quote:</br>
      "When you first start off trying to solve a problem, the first solutions you come up with are very complex, and most people stop there. But if you keep going, and live with the problem and peel more layers of the onion off, you can oftentimes arrive at some very elegant and simple solutions. Most people just don't put in the time or energy to get there. We believe that customers are smart, and want objects which are well thought through."

      </div>
     </div>
    </div>
      </div>