</br></br>
<div class="container-fluid">
   <div class="row">

     <div class="col-md-2">
      Books & resources I've covered:</br>
      - Competitive Advantage by Porter</br>
      - Zero to One by Thiel</br>
      - <a href="https://hackernoon.com/metrics-game-framework-5e3dce1be8ac">Defining metrics blog post</a></br>

      </br>Next books & resources:</br>
      - Play to Win</br>
      - Good strategy, bad strategy</br>
      - Principles by Ray Dalio</br>

        </div>
        <div class="col-md-10">
    <div class="col-md-2">

          <%= link_to 'Focus', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>

         <div class="col-md-2">

          <%= link_to 'Segmentation', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-2">

          <%= link_to 'Competitive Advantage', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-2">

          <%= link_to 'Strategic Thinking', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-2">

          <%= link_to 'Goal', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         </div>

      </div>



      </div>