</br></br>
<div class="container-fluid">
   <div class="row">

     <div class="col-md-2">
      Books & resources I've covered:</br>
      - Competitive Advantage by Porter</br>
      - Zero to One by Thiel</br>
      - <a href="https://hackernoon.com/metrics-game-framework-5e3dce1be8ac">Defining metrics blog post</a></br>

      </br>Next books & resources:</br>
      - Play to Win</br>
      - Good strategy, bad strategy</br>
      - Principles by Ray Dalio</br>

        </div>
        <div class="col-md-10">
    <div class="col-md-2">

          <%= link_to 'Focus', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>

         <div class="col-md-2">

          <%= link_to 'Segmentation', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-2">

          <%= link_to 'Competitive Advantage', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-2">

          <%= link_to 'Strategic Thinking', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         <div class="col-md-2">

          <%= link_to 'Goal', {controller: 'second', action: 'speaker'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
         </div>

      </div>



      </div>
      </br>

      Playing to win:</br>

      Framework that consists of 5 levels:</br>
      1. Winning aspiration. You're not just here to compete, you're here to win!</br>
      2. Where to play. Customer segmentation, geography, industry. Don't try to be everything to everyone.</br>
      3. How to win. Competitive Advantage.</br>
      4. Core capabilities</br>
      5. Management systems</br></br>

      Strategy is the set of decisions taken by the company. Where to focus, what to sell, to whom, where.</br></br>

      Strategy is more than just the vision and mission.</br>
      Strategy considers the mid and long term</br></br>

      P&G wanted to become the market leader in skin care. They wanted revenues of 1 billion.</br>
      They had to decide between cleaning the image of the Olay brand, create a new one, or bring a brand from another category into skin care. The chose to clean the Olay brand.</br>
      They had to choose between Macys and Walgreens. They picked Walgreens because P&G has better relationships with them. Your product strategy has to align with the company's strategy.</br>
      They created a new segment in the massive stores, called Masstige which is a mix between Massive(walgreens) and prestige (Macy's).</br></br>

      Don't focus so much inward but outward.</br></br>

      Among P&G's core capabilities were:</br>
      1. Ability to deeply understand customers</br>
      2. Break organizational silos: recruit together, research together, etc.</br></br>

      Strategy is not a process</br>
      Strategy is not short term</br>
      Strategy is not the mission statement</br>
      Startegy is not to increase revenue by X percent</br></br>

How to win:</br>
Do a diagram of the "activity system": This means a graph where you map out your core capabilities and how they relate to each other.</br>
This capabilities must meet the following requirements:</br>
- They must be FEASIBLE, DISTINCTIVE and DEFENSIBLE.</br>
- They can't be generic. They must be specific capabilities that will be decisive for you to win.</br>
- Draw the diagram at different levels. Example: Yammer level, Open collaboration level: Teams and Yammer. Then collaboration: Teams, Yammer and Outlook. And finally Microsoft. The lowest level (the indivisible level) must have core capabilities, and then the level above is the aggregation of both the capabilities from the indivisible level. The above level must have capabilities that can be shared and that strengthen all the level below. If it doesn't help all the levels below, the capability should be removed.</br>
- Overlay your capabilities diagram with your competitors capabilities diagram to identify what's unique and what's not</br>
- See what others products fit under one of the above levels because expanding portofolio using these skills create synergies.</br>
- Example of levels: Company -> Category -> Brand</br></br>

