Persuasion topics</br></br>

<div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-5" id="pm-core-container">
           <%= link_to "Audience", {controller: 'third', action: 'audience'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Connecting with them", {controller: 'third', action: 'connecting'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Current state - A", {controller: 'third', action: 'current'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Future state - B", {controller: 'third', action: 'future'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Path", {controller: 'third', action: 'path'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
            <%= link_to "Change management", {controller: 'third', action: 'change'}, {class:'btn btn-primary btn-block', id:'core-button'} %>


        </div>
        <div class="col-md-3">
        </div>
      </div>

      </br></br>
      Book: Pre-suasion - Robert Caldini</br>

1. Reciprocity</br>
2. Liking</br>
3. Social proof</br>
4. Authority</br>
5. Scarcity</br>
6. Consistency</br></br>

Privileged timing. There are specific intervals of time where it is more effective to ask for something. If I give you something you've asked and immediately ask for something in return, it is probable that you will reciprocate</br></br>

People think that what they're paying attention to is important. Draw their attention to the things you want them to consider important. "The news can't tell you what to think, but they can tell you what to think about"</br></br>

What's focused is presumed causal. If something happens, whatever is more prominent will be seen as the cause.</br></br>

People want to fit in but also to standout. When people feel fear they want to fit in, when they feel enamored they want to standout.</br></br>

When people receive information about themselves, they pay more attention. When you take a picture of a group and then show the picture to them, each person will focus primarily on themeselves.</br></br>

