<div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-5" id="pm-core-container">
          <%= link_to "Focusing on ONE persona", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Desires - What attracts people?", {controller: 'third', action: 'audience'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Aversion - What repels people?", {controller: 'third', action: 'audience'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Main human problems", {action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Needs", {controller:'fourth', action: 'needs'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Emotional states", {action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Emotion trumps logic", {action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Personality types", {action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Demographics", {action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Specific behaviors", {action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Values", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Beliefs & assumptions", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Who or what influences them?", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "What do they know and what is their source?", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Lifestyle", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Biases", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "The why vs. what vs how thinkers", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "One action per temper: Doers, influences, suppliers and innovators", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Skills and lack of them", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Identity", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Why would they resist?", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Temperament", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Accept my idea or live the consequences", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>


        </div>
        <div class="col-md-3">
        </div>
      </div>