<!DOCTYPE html>
<html>
  <head>
    <title>Excellence</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<div class="header-home">
  <%= link_to "My Mental Model", root_path %></br>
  Divergent thinking. Convergent thinking.</br>
  Read with purpose, recall, showcase, balance, remove overwhelmness</br>
  Read, write, synthesize, socialize, apply, find an expert and discuss</br>
</div>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
