<!DOCTYPE html>
<html>
  <head>
    <title>Excellence</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<div class="header-home">
  <%= link_to "GROWTH", root_path %>
  Divergent thinking. Convergent thinking.
</div>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
